<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostpital Management System</title>
    <link rel="stylesheet" href="css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- Navigation bar -->
    <header>
        <!-- Navi container -->
        <div class="nav container">
            <!-- Menu Icon -->
            <i class='bx bx-menu' id="menu-icon"></i>
            <!-- Logo -->
            <a href="#" class="logo"><i class='bx bxs-home'></i></a>
            <!-- Nav List -->
            <ul class="navbar">
                <li><a href="#home" class="active">Trang Chủ</a></li>
                <li><a href="#about">Giới Thiệu</a></li>
                <li><a href="#cars">Dịch Vụ</a></li>
                <li><a href="#contact">Liên Hệ</a></li>
            </ul>
            <!-- Search Icon -->
            <i class='bx bx-search-alt' id="search-icon"></i>
            <!-- Search Box -->
            <div class="search-box container">
                <input type="search" name="" id="" placeholder="Seach here...">
            </div>
        </div>
    </header>
    <!-- Home section -->
    <section class="home" id="home">
        <div class="home-text">
        </div>
    </section>

    <!-- About section -->
    <section class="about container" id="about">
        <div class="about-heading heading">
            <span>Giới Thiệu</span>
            <h2>Sứ Mệnh</h2>
            <p>Bệnh viện quốc tế Minh Anh lấy bệnh nhân làm trung tâm cho mọi hoạt động, chúng tôi cam kết nâng cao chất lượng cuộc sống thông qua việc chăm sóc sức khoẻ toàn diện. Bệnh viện hướng đến việc xây dựng hình ảnh một cơ sở y tế thân thiện, gần gũi, giúp quý vị cảm thấy yên tâm như chính ngôi nhà của mình.</p>
        </div>
        <div class="about-content">
            <div class="about-img">
                <img src="/img/background.jpg" alt="">
            </div>
            <div class="about-text">
                <h2>Tầm Nhìn</h2>
                <p>Chúng tôi thường xuyên cập nhật kiến thức và kỹ thuật y học tiên tiến, thông qua việc hợp tác chuyên môn với các bệnh viện danh tiếng trong và ngoài nước. Chúng tôi phấn đấu trở thành một trong những bệnh viện đi đầu về các hoạt động y tế hướng về cộng đồng. Tập thể y bác sĩ tại bệnh viện quốc tế Minh Anh sẽ xây dựng nên một bản sắc văn hoá riêng, trở thành một ngôi nhà y khoa - nơi mà toàn thể nhân viên đồng lòng xây dựng, cống hiến và tự hào về môi trường làm việc hiện đại, chuyên nghiệp và đoàn kết.</p>
            </div>
        </div>
        <div class="about-content">
            <div class="about-text">
                <h2>Giá Trị Cốt Lõi</h2>
                <p>Tập thể y bác sĩ tại bệnh viện quốc tế Minh Anh luôn đặt sự hài lòng của bệnh nhân là tiêu chí hàng đầu. Chúng tôi luôn chăm sóc, tôn trọng bệnh nhân bằng sự đồng cảm sâu sắc. Đội ngũ y bác sĩ có trình độ chuyên môn về y khoa cao, coi trọng đạo đức nghề nghiệp. Chúng tôi không ngừng hoàn thiện tác phong phục vụ và chăm sóc sức khỏe cho bệnh nhân. Chúng tôi luôn tuân thủ các quy trình về quản lý chất lượng và các tiêu chuẩn về chuyên môn theo đúng quy định của Bộ Y tế. Tất cả các hoạt động tại bệnh viện quốc tế Minh Anh là sự kết hợp hài hòa giữa trình độ y tế Việt Nam hiện tại và thế giới. Bệnh viện luôn tiếp nhận ý kiến đóng góp, phản ánh của khách hàng, nhanh chóng giải quyết nhằm kiến tạo niềm tin, kiện toàn tác phong phục vụ chuyên nghiệp, nâng cao chất lượng điều trị, điều dưỡng.</p>
            </div>
            <div class="about-img">
                <img src="/img/background.jpg" alt="">
            </div>
        </div>
        <div class="about-content">
            <div class="about-img">
                <img src="/img/background.jpg" alt="">
            </div>
            <div class="about-text">
                <h2>Phạm Vi Hoạt Động</h2>
                <ul>
                    <li>Khám chữa bệnh nội và ngoại trú</li>
                    <li>Khám sức khỏe: cho người dưới 18 tuổi, từ 18 tuổi trở lên và khám sức khỏe định kỳ cho người lao động tại bệnh viện và ngoại viện.</li>
                    <li>Dịch vụ sơ cấp cứu – huấn luyện sơ cấp cứu – chuyên chở cấp cứu.</li>
                    <li>Tiêm chủng phòng bệnh.</li>
                    <li>Chăm sóc tại nhà, chăm sóc bệnh nhân ung thư giai đoạn cuối, …</li>
                </ul>
            </div>
        </div>
    </section>


    <!-- Car Section -->

    <section class="cars" id="cars">
        <div class="heading">
            <span>Dịch Vụ</span>
            <h2>Các Dịch Vụ Nổi Bật Của Chúng Tôi</h2>
        </div>
        <!-- Cars Container -->
        <div class="cars-container container">
            <!-- Box 1 -->
            <a href="/xc90recharge.html" class="box">
                <img src="/img/ngoai-tru.jpg" alt="">
                <h2 class="car-name">Ngoại Trú</h2>
            </a>
            <!-- Box 2 -->
            <a href="/xc60recharge.html" class="box">
                <img src="/img/noi-tru.jpg" alt="">
                <h2 class="car-name">Nội Trú</h2>
            </a>
            <!-- Box 3 -->
            <a href="/x90ultimate.html" class="box">
                <img src="/img/kiem-tra-tong-quat.jpg" alt="">
                <h2 class="car-name">Khám Sức Khỏe Tổng Quát</h2>
            </a>
            <!-- Box 4 -->
            <a href="/xc60ultimatebright.html" class="box">
                <img src="/img/dich-vu-khac.jpg" alt="">
                <h2 class="car-name">Bảo Lãnh Viện Phí</h2>
            </a>
        </div>
    </section>

    
    <!-- Contact section -->

    <section class="contact container" id="contact">
        <div class="heading">
            <span>Liên Hệ</span>
            <h2>Tư Vấn & Đặt Lịch Khám</h2>
        </div>
        <div class="contact-content grid-container">
            <div class="contact-infor grid-item">
                <p><i class='bx bxs-location-plus' ></i>702 Đ. Nguyễn Văn Linh, Tân Hưng, Quận 7, Hồ Chí Minh</p>
                <p><i class='bx bxs-phone' ></i>028 3776 1300</p>
                <p><i class='bx bxl-gmail' ></i>enquiries@rmit.edu.vn</p>
            </div>
            <div class="contact-form grid-item">
                <form action="https://api.web3forms.com/submit" method="POST">
                    <input type="hidden" name="access_key" value="3d7fbda5-a731-495c-b305-808a75714f40">
                    <input type="text" name="name" placeholder="Họ Và Tên" id="" class="form-control" required>
                    <input type="text" name="phone" placeholder="Số điện thoại liên hệ" id="" class="form-control" required pattern="[0-9]{10}">
                    <textarea name="message" placeholder="Liên hệ ngay để nhận đc các ưu đãi mới nhất" id=""></textarea>
                    <button type="submit" class="btn">Gửi ngay</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer -->

    <section class="footer">
        <div class="footer-container container">
            <div class="footer-box">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7840.138161584772!2d106.69323797573567!3d10.729155360062489!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fbea5fe3db1%3A0xfae94aca5709003f!2zxJDhuqFpIEjhu41jIFJNSVQgTmFtIFPDoGkgR8Oybg!5e0!3m2!1svi!2sus!4v1723111869836!5m2!1svi!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="footer-box">
                <h3>Thông tin Bệnh Viện</h3>
                <p>702 Đ. Nguyễn Văn Linh, Tân Hưng, Quận 7, Hồ Chí Minh</p>
                <p>Giờ hoạt động: Từ 8:00 đến 18:00 các ngày trong tuần</p>
                <div class="social">
                    <a href="https://www.facebook.com/volvowithkhoa" target="_blank"><i class='bx bxl-facebook'></i></a>
                    <a href="https://www.youtube.com/@volvowithkhoa" target="_blank"><i class='bx bxl-youtube'></i></a>
                    <a href="https://www.instagram.com/volvocars/" target="_blank"><i class='bx bxl-instagram'></i></a>
                    <a href="https://zalo.me/0562568888" target="_blank"><img class="img-icon" src="../img/index/icons8-zalo.svg" alt=""></a>
                </div>
            </div>
        </div>
    </section>

    <div class="call-container row">
        <a href="tel:+84562568888" class="call column">
            <i class='bx bx-phone-call'></i>
        </a>
        <a href="https://zalo.me/0562568888" target="_blank" class="zalo column">
            <img src="../img/index/icons8-zalo-2.svg" alt="">
        </a>
    </div>

    <!-- Link JS -->
    <script src="/main.js"></script>
</body>
</html>
