<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pation Information</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="patient_infor.css">
</head>
<body>
    <header>
        <!-- Navi container -->
        <div class="nav container">
            <!-- Menu Icon -->
            <i class='bx bx-menu' id="menu-icon"></i>
            <!-- Logo -->
            <a href="#" class="logo"><i class='bx bxs-home'></i></a>
            <!-- Nav List -->
            <ul class="navbar">
                <li><a href="#home">Home</a></li>
                <li><a href="#about" class="active">Patient List</a></li>
                <li><a href="#cars">Staff List</a></li>
                <li><a href="#contact">Appointment List</a></li>
            </ul>
            <!-- Search Icon -->
            <i class='bx bx-search-alt' id="search-icon"></i>
            <!-- Search Box -->
            <div class="search-box container">
                <input type="search" name="" id="" placeholder="Seach here...">
            </div>
        </div>
    </header>
    <div class="container patient-infor">
        <div class="patient-card">
            <div class="info">
                <div class="name">Name: Huy Tran</div>
                <div class="id">ID: 123</div>
                <div class="dob">DOB: 13/07/2001</div>
            </div>
            <div class="sub-infor">
                <div class="contact">Phone Number: 0824117333</div>
                <div class="address">Address: 28 Dinh Tien Hoang</div>
                <div class="allergies">Allergies: Peanut</div>
            </div>
        </div>
    </div>
    <div class="container history">
        <div class="history-record row">
            <div class="date col">2023-12-10</div>
            <div class="time col">3:16:02</div>
            <div class="staff-name col">Quy Nguyen</div>
        </div>
        <div class="note ">
            <div class="note-before">
                Note Before: Unsp fx the low end r rad, 7thH	
            </div>
            <div class="note-during">
                Note During: Revision of Drainage Device in Thoracic Vertebral Joint, Percutaneous Endoscopic Approach
            </div>
            <div class="note-after">
                Note After: Stress fracture, right finger(s), subs for fx w nonunion
            </div>
        </div>
    </div>
</body>
</html>